	<div class="row">
		<span class="col-lg-12 drop-bottom">NOTE: The group selected is to change the group for the product and not to redirect to a new product group.</span> 
	</div>
	<form id="updateProductPage">
		<div class="row">
			<div class="col-lg-5">
				<select id="groupName" class="form-control drop-bottom">
					<option value={{firstGroup.name}}>{{firstGroup.name}}</option>
					{{#each notGroup}}
					<option value={{name}}>{{name}}</option>
					{{/each}}
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
				  <label for="usr">Product Name:</label>
				  <input type="text" class="form-control" id="name" value="{{product.name}}">
				  <input type="hidden" value="{{product.id}}" id="hidden" />
				</div>
			</div>
		</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
					  <label for="pwd">Product Price:</label>
					  <input type="text" class="form-control" id="price" value="{{product.price}}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 drop-bottom">
					<label>Product Image (leave this blank unless you want to update the image) </label>
					<input type="file" id="file" class="form-control" />
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 drop-bottom">
					<label>Product Description</label>
					<textarea class="form-control" id="description" rows="4">{{product.description}}</textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<input type="button" value="Add Product" class="btn btn-success" />
				</div>
			</div>
		</form>
